/Frame$FrameBuilder.class
/Frame.class
/FrameType.class
/IFrame$IFrameBuilder.class
/IFrame.class
/IMember$IMemberBuilder.class
/IMember.class
/IThematicRole$IThematicRoleBuilder.class
/IThematicRole.class
/IVerbClass.class
/IVerbnetType.class
/IVersion.class
/IWordnetKey.class
/Member$MemberBuilder.class
/Member.class
/ThematicRole$ThematicRoleBuilder.class
/ThematicRole.class
/ThematicRoleType.class
/VerbClass.class
/VerbnetTypes.class
/Version.class
/WordnetKey.class
