/ArgType.class
/ArgTypeConstant.class
/ArgTypeEvent.class
/ArgTypeVerbSpecific.class
/IPredicateDesc.class
/ISemanticArgType.class
/ISemanticDesc.class
/PredicateDesc.class
/PredicateType.class
/SemanticDesc.class
